grafana:
  adminPassword: "admin"
  service:
    type: ClusterIP

prometheus:
  prometheusSpec:
    retention: 12h
    resources:
      requests:
        cpu: 100m
        memory: 512Mi

alertmanager:
  enabled: false
